/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

* {
    -fx-font-family: serif;
}

/* --------------------------------------
 * --------------------------------------
 * --------------SCROLLBAR---------------
 * --------------------------------------
 * -------------------------------------- */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 12 0;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 12 0 0;
}
 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
	-fx-shape: " ";	
	-fx-padding:0;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}




/* --------------------------------------
 * --------------------------------------
 * --------------TREE VIEW---------------
 * --------------------------------------
 * -------------------------------------- */
 
.tree-view{
    -fx-background-color: white ;
    -fx-padding:0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}
.tree-cell {
    -fx-background-color: white ;
    -fx-text-fill: black ;
    -fx-padding:0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
    -fx-min-height:35px;
}
.tree-cell:selected {
    -fx-background-color: #eee ;
    /*-fx-font-weight: bold;*/
    /*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 10, 0 , 0 , 0 );*/
    -fx-text-fill: black ;
}

.tree-cell:selected Text{
    -fx-fill: black ;
}
/*.tree-cell {
    -fx-padding: 5px 0em 5px 0em;
}*/

.tree-view-right > .button{
	-fx-border-width: 1;
	-fx-min-width:45px;
    -fx-padding: 5;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-border-color: #eee;
    -fx-border-radius:50;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.tree-view-right > .button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}
.tree-view-right > .button:pressed{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 10, 0 , 0 , 0 );
}
.tree-view-right > .button Text{
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.tree-view-right > .color-picker > .arrow-button {
    -fx-font-size: 10px;
    -fx-fill: white;
    -fx-mark-color: white;
    -fx-padding:0 5 0 0;
}

.tree-view-right > .color-picker{
	-fx-color-label-visible: false;
	-fx-min-height:35px;
	-fx-fill: white;
  	-fx-min-width:45px;
}
.tree-view-right > .color-picker:pressed{
	-fx-background-color: #eee;
}

.threedotsTreeview, .tree-view-right > .color-picker{

    -fx-border-radius:100;
    -fx-min-height:24px;
    -fx-min-width:24px;

	-fx-border-width: 0;
    -fx-border-insets: 0px;

    -fx-background-radius: 30px;
    -fx-background-size: 15;
    -fx-background-insets: 0px;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-image: url("/images/threedots.png");

  	-fx-font-weight: normal;
}
.threedotsTreeview:hover{
	-fx-background-color: #eee;
}

.threedotsTreeview > .arrow-button{
	-fx-padding: 0;
}

.threedotsTreeview > .arrow-button > .arrow{
	-fx-padding: 0;
}

/*
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #494a4b;
   -fx-padding:0.5;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #494a4b;
   -fx-padding:0.5;
}*/

.menu-bar{
	-fx-background-color: white;
}

.topVBox{
	-fx-background-color: white;
}
.rightVBox{
	-fx-background-color: #f8f8f8;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.modelMomentCard{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
	-fx-background-color: #e0ebeb;
	-fx-border-color: transparent;
	-fx-border-insets: 3px;
    -fx-background-insets: 3px;
    -fx-background-radius: 3;
    -fx-border-radius:3;
}

.momentCard{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0);
	-fx-background-color: white;
	-fx-border-color: transparent;
	-fx-border-insets: 3px;
    -fx-background-insets: 3px;
    -fx-background-radius: 3;
    -fx-border-radius:3;
}

.momentComment{
    -fx-control-inner-background:#F5F5F5;
    -fx-border-color: transparent;
        -fx-background-insets: 3px;
        -fx-background-radius: 3;
        -fx-border-radius:3;
        -fx-text-inner-color: #696969;
        -fx-font-size: 11;
}

/*.momentCard:hover {
    -fx-cursor: move;
}*/

.categoryCard {
    -fx-background-color: #ffeaa7;
	-fx-border-color: transparent;
    -fx-background-insets: 3px;
    -fx-background-radius: 3;
    -fx-border-radius:3;
}

.categoryCard-header {
    -fx-font-weight: bold;
}

.moment-header {
    -fx-font-weight: bold;
}

.moment-dnd-zone {
    -fx-background-radius: 50px;
}

moment-no-left-padding {
    -fx-padding-left: 0px;
}

/*BUTTON MOMENTVIEW */
.buttonMomentViewDisabled, .buttonMomentView, .momentMenu{
	-fx-border-width: 1;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-border-color: #eee;
    -fx-border-radius:50;
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 15;
}

.buttonMomentView{
	-fx-background-image: url("/images/hasExtractIcon.png");
}

.buttonMomentViewDisabled{
	-fx-background-image: url("/images/hasExtractIconDisabled.png");
}

.buttonMomentViewDrag{
	-fx-background-image: url("/images/hasExtractIconDrag.png");
	-fx-border-width: 1;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-background-radius: 50px;
    -fx-background-color: black;
    -fx-border-color: #eee;
    -fx-border-radius:50;
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 15;
}

.momentMenu{
	-fx-background-image: url("/images/threedots.png");
}

.momentMenu > .arrow-button{
	-fx-padding: 0;
}

.momentMenu > .arrow-button > .arrow{
	-fx-padding: 0;
}

.buttonMomentView:hover, .buttonMomentViewDisabled:hover, .momentMenu:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.buttonMomentView:pressed, .buttonMomentViewDisabled:pressed, .momentMenu:pressed {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 10, 0 , 0 , 0 );
}
.buttonMomentView Text, .buttonMomentViewDisabled Text{
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


#textInterview:disabled, #textInterview:disabled > * {
  -fx-opacity: 0.9 ;
}



/*GRAY BUTTON */
.button-gray{
	-fx-background-radius: 3px;
    -fx-border-radius:3;
	-fx-border-width: 0;
    -fx-border-insets: 0px;
    -fx-background-insets: 0px;
    -fx-background-color: #8c8c8c;
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 20;
  	-fx-text-fill:white;
  	-fx-fill: white;
  	-fx-pref-height:37px;
  	-fx-min-height:37px;
  	-fx-mark-color: white;
}


.button-gray:hover{
	-fx-background-color: #646464;
}

.button-gray:disabled{
	-fx-background-color: #c8c8c8;
}

.button-gray:pressed{
	-fx-background-color: #464646;
}


.descripteme-button {
    -fx-border-radius:100;
    -fx-min-height:24px;
    -fx-min-width:24px;

	-fx-border-width: 0;
    -fx-border-insets: 0px;

    -fx-background-radius: 30px;
    -fx-background-size: 15;
    -fx-background-insets: 0px;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-image: url("/images/hasExtractIcon.png");
}

.descripteme-button:hover{
	-fx-background-color: #eee;
}

.descripteme-button > .arrow-button{
	-fx-padding: 0;
}

.descripteme-button > .arrow-button > .arrow{
	-fx-padding: 0;
}

.concreteProperty:hover {
    -fx-font-weight: bold;
}

.shift-descripteme {
    -fx-border-radius:100;
    -fx-min-height:26px;
    -fx-min-width:26px;

    -fx-border-width: 0;
    -fx-border-insets: 0px;

    -fx-background-radius: 30px;
    -fx-background-size: 15;
    -fx-background-insets: 0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button-tool-annotation {
    -fx-border-radius:3;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-background-color: white;
}

.button-tool-annotation:selected {
}

/*
Yellow : #D7A350  #F6A31F
Red: #D75050  #F61F1F
Blue: #3B608D  #205BA1
Green: #40AC40  #19C519
*/

#btnModelisationFull {
    -fx-background-size: 32 25;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
    -fx-background-image: url("/images/btnModelisationSpacePng.png");
}

#btnScreenShared {
    -fx-background-size: 32 25;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
    -fx-background-image: url("/images/btnScreenSharedPng.png");
}

#btnTextAreaFull {
    -fx-background-size: 32 25;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
    -fx-background-image: url("/images/btnTextAreaFullPng.png");
}

#btnZoomMinus {
    -fx-background-size: 25 25;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
    -fx-background-image: url("/images/btnZoomMinusPng.png");
}

#btnZoomPlus {
    -fx-background-size: 25 25;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-repeat: no-repeat;
  	-fx-background-position: center;
    -fx-background-image: url("/images/btnZoomPlusPng.png");
}

#textInterviewTitle {
    -fx-font-size: 22px;
}

