/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* --------------------------------------
 * --------------------------------------
 * --------------TREE VIEW---------------
 * --------------------------------------
 * -------------------------------------- */
 
.tree-view, .tree-cell {
    -fx-background-color: white ;
    -fx-text-fill: black ;
}
.tree-cell:selected {
    -fx-background-color: #eee ;
    /*-fx-font-weight: bold;*/
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 10, 0 , 0 , 0 );
    -fx-text-fill: black ;
}

.tree-cell:selected Text{
    -fx-fill: black ;
}
.tree-cell {
    -fx-padding: 5px 0em 5px 0em;
}

.tree-view-right > .button, .tree-view-right > .color-picker{
	-fx-border-width: 1;
	-fx-min-width:45px;
    -fx-padding: 5;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-border-color: #eee;
    -fx-border-radius:50;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.tree-view-right > .button:hover, .tree-view-right > .color-picker:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.tree-view-right > .button:pressed, .tree-view-right > .color-picker:pressed {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 10, 0 , 0 , 0 );
}
.tree-view-right > .button Text, .tree-view-right > .color-picker Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}




.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #494a4b;
   -fx-padding:0.5;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #494a4b;
   -fx-padding:0.5;
}

.menu-bar{
	-fx-background-color: white;
}

.topVBox{
	-fx-background-color: white;
}
.rightVBox{
	-fx-background-color: #f8f8f8;
}

.scroll-pane > .viewport {
   -fx-background-color: #f0f0f0;
}

.momentCard > .scroll-pane > .viewport{
    -fx-background-color: white;
    -fx-border-color: transparent;
    
}
.momentCard{
	-fx-border-color: transparent;
	-fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 3;
    -fx-border-radius:3;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.5), 2, 0, 0, 2);
}


