/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.tree-view, .tree-cell {
    -fx-background-color: #4d394b ;
    -fx-text-fill: white ;
}
.tree-view {
    -fx-background-color: #4d394b;
}

.tree-cell:selected {
    -fx-background-color: #4c9689 ;
    -fx-text-fill: white ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em;
}


.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: black;
   -fx-padding:0.5;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: black;
   -fx-padding:0.5;
}

.menu-bar{
	-fx-background-color: white;
}

.scroll-pane > .viewport {
   -fx-background-color: white;
}
.scroll-pane {
   -fx-background-color: transparent;
}

.tree-view-right > .button, .color-picker{
	-fx-border-width: 2;
	-fx-min-width:50px;
    -fx-padding: 10 10 10 10;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.tree-view-right > .button:hover, .color-picker:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.tree-view-right > .button:pressed, .color-picker:pressed {
    -fx-background-color: #f0f0f0;
}
.tree-view-right > .button Text, .color-picker Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
